<h1>Question & Answer API Assessment</h1>

<section class="stats">
  <h2>Stats</h2>
  <div class="hbox">
    <% @stats.each do |title, value| %>
      <div class="vbox">
        <span class="label"><%= title.to_s.titleize %></span>
        <span class="number"><%= value %></span>
      </div>
    <% end %>
  </div>
</section>

<section class="tenants">
  <h2>Tenants</h2>
  <% @tenants.each do |t| %>
    <div class="hbox">
      <span class="name"><%= t.name %></span>
      <span class="request-count"><%= t.request_count %></span>
    </div>    
  <% end %>
</section>